/*
 Font-family
 -------------------------*/
$primary-fontfamily:'Lato', sans-serif;
$secondary-font :'Roboto', sans-serif;
$tertiary-font:'Playfair Display', serif;

/*
 Font-color
 -------------------------*/
$white:#ffffff;
$black:#000000;
$black-primary:#414145;
$red-primary:#c8002e;
$red-secondary:#efeff4;
$black-secondary:#1d1d23;
$red-dark:#e83d4d;
$gray:#82818a;
$white-primary:#fafafa;
$blue:#5a4d9c;
/*
 Font-weight
 -------------------------*/
$fw-light:300;
$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;
$fw-black:900;

/*
 Background color
 -------------------------*/

/*
 Border-color
 -------------------------*/

/*
 Alignment
 -------------------------*/
$align-center:center;
$align-left:left;